@model SemesterPeriodDTO

<div class="container p3">
    <div class="row pt-4">
        <div class="col-12 p-0">
            <a asp-action="Index" class="btn btn-success"><i class="fas fa-reply"></i> &nbsp; Back</a>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-12 p-0">
            <h3 class="text-uppercase">Delete semester period</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-0 text-danger">
            <h6>Are you sure you want to delete semester period?</h6>
        </div>
    </div>
    <hr />
    <div class="text-danger">
        @TempData["Error"]
    </div>
    <div class="row pt-2">
        <div class="col-12 p-0">

            <form method="post" asp-action="DeleteConfirm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="id" id="id" value="@Model.Id" />
                <div class="row">
                    <div class="col-12">

                        <partial name="_DetailsPartial" />

                        <div class="form-group row mb-0">
                            <div class="col-12 p-0 row">
                                <div class="col-12 p-0 text-right">
                                    <button type="submit" class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i> &nbsp; Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr />
</div>