@model StudentMinorInfoViewModel

<form method="post" asp-controller="StudentInfo" asp-action="EditStudentMinorInfo" id="studentMinorInfoForm"
      data-ajax="true" data-ajax-update="#studentMinorInfoForm" data-ajax-mode="replace" data-ajax-complete="setMultiselect">

    <input type="hidden" asp-for="StudentBasicInfoId" />

    <div class="border rounded p-2 m-1 row">
        <div class="col-12 pt-2">
            <h4 class="text-uppercase">Student Minor Info 
                <span class="red-colored">@TempData["ErrorMessage"]</span> 
                <span class="green-colored">@TempData["SuccessMessage"]</span> 
            </h4>
        </div>
        <div class="col-12">
            <hr class="m-2 mb-3">
            <div class="form-group row">
                <div class="col-3 text-right">
                    <label class="form-label">Departments</label>
                </div>
                <div class="col-6">
                    <select class="form-control" id="departmentsSelect" asp-for="DepartmentIds" asp-items="@ViewBag.Departments" multiple></select>
                    <span asp-validation-for="DepartmentIds" class="text-danger"></span>
                </div>
                <div class="col-3 text-right">
                    <button type="submit" form="studentMinorInfoForm" class="btn btn-primary">
                        <i class="fas fa-save"></i>&nbsp; Save
                    </button>
                </div>
            </div>
        </div>
    </div>

</form>
