
<div class="container p3">
    <div class="row pt-4">
        <div class="col-12 p-0">
            <a asp-action="Index" asp-route-state="@ViewBag.State" asp-route-departmentId="@ViewBag.DepartmentId"
                class="btn btn-success"><i class="fas fa-reply"></i> &nbsp; Back</a>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-12 p-0">
            <h3 class="text-uppercase">Instructor details</h3>
        </div>
    </div>
    <hr />
    <div class="row pt-2">
        <div class="col-12 p-0">

            <partial name="_DetailsPartial" />
                
        </div>
    </div>
    <hr />
</div>

