
<div class="container p3 text-danger">
    <div class="row pt-4">
        <div class="col-12 p-0">
            <h3>Access denied</h3>
        </div>
    </div>
    <div class="row pt-2">
        <span>Сообщите о проблеме на почту helpdesk@iuca.kg</span>
    </div>
</div>
