@{
    ViewBag.Title = "Not Found";
 }

<div class="container p3">
    <div class="row pt-4">
        <div class="col-12 p-0">
            <h3>@ViewBag.ErrorMessage</h3>
        </div>
    </div>
</div>
