@model OrganizationDTO

<div class="form-group row">
    <div class="col-3 text-right">
        <label class="label-info">Name:</label>
    </div>
    <div class="col-9">
        <label>@Model.Name</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-3 text-right">
        <label class="label-info">Is main:</label>
    </div>
    <div class="col-9">
        <label>@Model.IsMain</label>
    </div>
</div>



