@model GroupTransferOrderDTO
@using iuca.Application.Enums

<div class="container p-0">

    <div class="row pt-2">
        <div class="col-auto">
            <a class="btn bg-gray text-white shadow-none" asp-action="Index">
                <i class="fas fa-reply"></i> &nbsp; Back
            </a>
        </div>
    </div>

    <div class="row pt-4 justify-content-between">
        <div class="col-auto">
            <h2>Group transfer order creation</h2>
            <span class="text-success">
                @TempData["GroupTransferOrdersSuccessMessage"]
            </span>
            <span class="text-danger">
                @TempData["GroupTransferOrdersError"]
            </span>
            <span class="text-danger">
                @TempData["GroupTransferOrdersErrorMessage"]
            </span>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn bg-blue text-white shadow-none" form="createOrder">
                <i class="fas fa-save"></i>&nbsp; Save
            </button>
        </div>
    </div>

    <hr />

    <div class="row pt-4">
        <div class="col-12">
            <form asp-action="Create" method="post" id="createOrder">
                <partial name="_EditPartial.cshtml" />
            </form>
        </div>
    </div>

</div>

@section Scripts {

    <script src="~/js/edit-group-transfer-order.js" asp-append-version="true"></script>
    <script src="~/js/group-transfer-orders.js" sp-append-version="true"></script>

}