@model GradeDTO

<div class="form-group row">
    <div class="col-3 text-right">
        <label>Grade:</label>
    </div>
    <div class="col-9">
        <input asp-for="GradeMark" class="form-control" />
        <span asp-validation-for="GradeMark" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <div class="col-3 text-right">
        <label>Gpa:</label>
    </div>
    <div class="col-9">
        <input asp-for="Gpa" class="form-control" />
        <span asp-validation-for="Gpa" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <div class="col-3 text-right">
        <label>Name Eng:</label>
    </div>
    <div class="col-9">
        <input asp-for="NameEng" class="form-control" />
        <span asp-validation-for="NameEng" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <div class="col-3 text-right">
        <label>Name Rus:</label>
    </div>
    <div class="col-9">
        <input asp-for="NameRus" class="form-control" />
        <span asp-validation-for="NameRus" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <div class="col-3 text-right">
        <label>Name Kir:</label>
    </div>
    <div class="col-9">
        <input asp-for="NameKir" class="form-control" />
        <span asp-validation-for="NameKir" class="text-danger"></span>
    </div>
</div>
