@model AttendanceFolderDTO

<div class="row">
    <div class="col-3">

        <div class="form-group row">
            <div class="col-12">
                <label>Semester:</label>
            </div>
            <div class="col-12">
                <select class="form-control dropdown shadow-none" asp-for="SemesterId" asp-items="@ViewBag.Semesters">
                    <option>Not selected</option>
                </select>
                <span asp-validation-for="SemesterId" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="col-3">

        <div class="form-group row">
            <div class="col-12">
                <label>FolderId:</label>
            </div>
            <div class="col-12">
                <input asp-for="FolderId" class="form-control shadow-none" />
                <span asp-validation-for="FolderId" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="col-3">

        <div class="form-group row">
            <div class="col-12">
                <label>MainSpreadsheetId:</label>
            </div>
            <div class="col-12">
                <input asp-for="MainSpreadsheetId" class="form-control shadow-none" />
                <span asp-validation-for="MainSpreadsheetId" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="col-3">

        <div class="form-group row">
            <div class="col-12">
                <label></label>
            </div>
            <div class="col-12">
                <button type="submit" class="btn bg-blue text-white shadow-none">
                    <i class="fas fa-save"></i>&nbsp; Save
                </button>
            </div>
        </div>

    </div>
</div>